package components

templ HtmlTitle(title string) {
    if title!="" {
        <title>{title} | Lawas - Collectibles & More</title>    
    } else {
        <title>Lawas - Collectibles & More</title>
    }  
}