package pages

import (
    "lawas-go/components"
)
templ Frontpage() {

    @components.Layout() {
        
        @components.HtmlSlider()

        @components.HtmlCategories()
        
    }

    
}